.board-show-pins{
   
}

.brick-show{
   max-height: 470px;
   background-color: #eeeeee;
    display: inline-block;
    margin: 1em 0 0;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    min-height: 215px;
    grid-row-end: span 2;
    
}
.pin-image-board-show{
      background-color: #eeeeee;
    display: inline-block;
    margin: 1em 0 0;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    min-height: 215px;

}
.board-description{
    text-align: center;
    color: hsl(50, 4%, 50%);
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 20px;
}
.board-header{
    text-align: center;
    color: hsl(50, 4%, 33%);
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 200px;
}
.board-feed{
    /* display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
   grid-auto-rows: 200px; */
    column-count: 4;
    column-gap: 1em;
     margin: 1.5em auto;
  max-width: 1000px;
  column-gap: 1.5em;
  margin-top: 80px;
}

.board-show-wrapper{
    /* display: flex;
    justify-content: center; */
     /* column-count: 4;
    column-gap: 1em;
     margin: 1.5em auto;
  max-width: 1000px;
  column-gap: 1.5em;
  margin-top: 80px; */
}
.board-show-card{
    column-count: 4;
    column-gap: 1em;
     margin: 1.5em auto;
  max-width: 1000px;
  column-gap: 1.5em;
  margin-top: 80px;
}

.menu{
   text-align: center; 
   font-size: 25px;
   font-weight: 900;
   cursor: pointer;
   width: fit-content;
   margin: auto;
   
}

.board-menu{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    margin: auto;
    height: 50px;
}
.selection{
    position: absolute;
    display: flex;
    flex-direction: column;
        top: 39px;
        width: 150px;
        display: none;
        
        
    
}

.board-menu:hover .selection{
    display: block;
}

.show-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board-edit{
   cursor: pointer;
    
    width: 125px;
    border: none;
    background-color: white;
    font-size: 17px;
    padding: 5px;
}

.board-edit:hover{
    color:hsl(348, 90%, 49%)

}
.board-edit:active{
    color:hsl(348, 90%, 40%)
}