.nav-bar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
   /* Set the navbar to fixed position */
  /* Position the navbar at the top of the page */
  width: 100%; 
   height: auto;
    top: 0px;
    z-index: 1;
    background-color: white;
    padding: 5px;

    
}
.home-button{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 background-color:  hsl(348, 90%, 49%);
 font-size: 17px;
 display: block;
 border-radius: 10px;
 border: none;
 height: 33px;
 width: 85px;
 margin-top: 5px;
 padding: 5px;

}
.home-button:hover{
    cursor: pointer;
    background-color:  hsl(348, 90%, 45%);

}
.home-button:active{
    background-color:  hsl(348, 90%, 40%);
}


.home-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 25px;
}
.logo-home{
     display:inline-block;
     vertical-align: middle;
    
    
}
.logo-text{
 position: relative;
 font-family: Arial, Helvetica, sans-serif;
 color: hsl(348, 90%, 49%);
 font-size: 25px;
 display: block;
 
    
}

.nav-button1{
    height: 33px;
    font-family: sans-serif;
   font-size: 15px;
   font-weight: 500;
border-radius: 10px;
   background-color: hsl(211, 100%, 40%)  ;
   color: white;
   margin: 10px;
   border: 0;
   width: 80px;
   float: right;
    

}

.nav-button1:hover{
    cursor: pointer;
}
.nav-button2{
    height: 30px;
    font-family: sans-serif;
   font-size: 15px;
   font-weight: 600;
   border-radius: 10px;
   background-color: hsl(35, 28%, 90%) ;
   color: hsl(50, 4%, 25%);
   margin: 10px;
   border: 0;
   width: 75px;
   
   
}

.nav-button2:hover{
    cursor: pointer;
}

.place-holder{
    
    display: inline;
    
}

.spacer{
display: flex;
justify-content: space-between;
align-items: center;



}
.spacer-left{
   display: flex;
}

.image-div{
    margin-right: 10px;
   
}

.greeting{
    display: contents;
}