.nav-bar{
    
    margin-top: 0px;
    
}
.logo-home{
    float: left;
}
.logo-text{
 position: relative;
 top: 29px;
 font-family: Arial, Helvetica, sans-serif;
 color: hsl(50, 4%, 25%);
 font-size: 25px;
    
}

.nav-button1{
    height: 30px;
    border: none;
}

.nav-button2{
    height: 30px;
}