.main-feed{
    column-count: 4;
    column-gap: 1em;
    
    
}

.pin{
    background-color: #eeeeee;
    display: inline-block;
    margin: 1em 0 0;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    min-height: 215px;
     


    
 
}
.pin:hover{
    box-shadow: 0px 8px 40px 2px rgba(0, 0, 0, 0.084);
    transform: scale(1.05);
    transition: all 0.25s;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.main-feed {
  margin: 1.5em auto;
  max-width: 1000px;
  column-gap: 1.5em;
  margin-top: 80px;
}

.pin-description{
    color: hsl(50, 4%, 25%);
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    
    
   
    
   
}

.brick{
  color: hsl(50, 4%, 25%);
    font-size: 22px;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    max-height: 470px;
    page-break-inside: avoid;
   
 
}

.brick:hover {
    cursor: pointer;
    /* opacity: .92; */
    
    
    
}
.pin-button{
    display: none;
       position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -50%);
    background-color:hsl(348, 90%, 40%);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.pin-button:hover{
    background-color: hsl(348, 90%, 34%) ;
}
.pin-button:active{
    background-color: hsl(348, 90%, 29%)
}
.pin:hover + .pin-button, .pin-button:hover {
    display: inline-block;
}

.pin-text{
    color: hsl(50, 4%, 25%);
    font-size: 22px;
    font-family: sans-serif;
    text-align: left;
    
    text-decoration: none;
}

/* .pin-text + .pin-button:hover{
    display: block;
} */
.brick:hover .pin-button{
    display: block;
}