.main-feed{
    column-count: 4;
    column-gap: 1em;
    
}

.pin{
    background-color: #eeeeee;
    display: inline-block;
    margin: 1em 0 0;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    
 
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.main-feed {
  margin: 1.5em auto;
  max-width: 1000px;
  column-gap: 1.5em;
}

.pin-description{
    color: hsl(50, 4%, 25%);
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    
   
    
   
}

.brick{
  color: hsl(50, 4%, 25%);
    font-size: 22px;
    font-family: sans-serif;
    text-align: left;
}

.brick:hover{
    cursor: pointer;
}